@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;

  color: #555;
  font: normal 100%/1.5 Georgia,serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited {
  border-bottom: 0.1em solid rgba(255,255,255,0.5);

  color: #fff;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  border-color: #fff;
}

.masthead {
  margin: 0;
  padding: 1em 0;

  background-color: #556f4b;

  color: #fff;
  text-align: center;
}

.masthead__wrapper {
  margin: 0 auto;
}

.header {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.header__logo {
  display: inline-block;
  max-width: 360px;
  vertical-align: middle;
  width: 100%;
}

.header__by {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;

  font: italic 0.875em/1.5 Baskerville,Palatino,"Book Antiqua",serif;
}

.header__link,
.header__link:link,
.header__link:visited {
  display: inline-block;
  vertical-align: middle;

  border: 0;
}

.header__link img {
  display: inline-block;
  max-width: 300px;
  vertical-align: middle;
  width: 100%;
}

.intro {
  padding: 1em 8px;

  background-color: #718c63;
  color: #fff;
  font-style: italic;
  text-align: center;
}

.intro__wrapper {
  margin: 0 auto;
  max-width: 40em;
}

.intro__text {
  margin: 0;
}

.intro__terms {
  margin: 0;

  font-size: 0.75em;
}

.hr-decorated {
  margin: 0;
  padding: 24px 0;

  background: transparent none center center;
  background-image:
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAUCAMAAACpgK3LAAAAk1BMVEVxjGNVb0twi2JWcExge1Vcd1FbdVBjfVdvimFdeFJog1xqhV1cdlFXcU1pg1xfelRqhF1adE9nglthe1VYck5tiGBbdlBwi2Nrhl5Zc05jfldYck1mgFluiGBvimJphF1Zc09shl5nglplf1llgFlngVptiF9ogltgelRXcUxadVBmgVpeeFNkflhbdlFphFxuiWB9waJ1AAAAqElEQVR4Aa3Jx04DMRSG0f+zx9Nr+iT03uH9nw4Jhcjy3bDgbI/+Q9/lX1KZPTlZE7xpm0NhzwGUC6CyuQVoBmCQ1QLXAXhN4v65XddwcBnMLskVTLqpGp2/fDxcZPllnB6odRRgjjMAhVTunPQJ+Dgb4Ex7T9erAHLFHqfKDQAs3oFaiT0//HjV3aa342gjq+XXaG7NydLkyElm0i1Xh1D0dxtflfqLbzQ6B0FY4hGFAAAAAElFTkSuQmCC"),
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAIAAABol6gpAAAADklEQVR4AWMMzfdmwA0AHvsBEb1z+A0AAAAASUVORK5CYII=")
  ;
  background-repeat: no-repeat, repeat-x;
  border: 0;
}

.footer {
  padding: 1em 0;

  background-color: #556f4b;

  color: #fff;
  font-size: 0.75em;
  text-align: center;
}

.copyright {
  margin: 0;
  padding: 0;
}

.dogs {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 320px;

  list-style-type: none;
}

.dog {
  width: 320px;

  text-align: center;
}

.dog__wrapper {
  display: block;
  margin: 0;
  padding: 0;
}

.dog__img-wrapper {
  display: block;
  overflow: hidden;
  width: 300px;

  border-radius: 4px;
}

.dog__img {
  display: block;
}

.dog__link,
.dog__link:link,
.dog__link:visited {
  display: block;
  padding: 8px;

  background-color: #dfe7da;
  border: 1px solid #d1dfc8;
  transition: all 100ms linear;

  color: #555;
  text-decoration: none;
}

.dog__link:hover,
.dog__link:focus,
.dog__link:active {
  background-color: #d4dfce;
  border-color: #b1c3a5;
}

.dog__name {
  display: block;
  margin-top: 8px;

  color: #556f4b;
  font: bold 1.5em/1.5 "Josefin Sans", sans-serif;
}

.dog__blurb {
  margin: 0;
}

@media only screen and (min-width: 670px) {

  .dogs {
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .dog {
    margin-bottom: 8px;
  }

  .dog__link,
  .dog__link:link,
  .dog__link:visited {
    border-radius: 6px;
  }

}

.pager {
  margin: 0;
  padding: 1em 0;

  background-color: #718c63;

  font-size: 1.125em;
  list-style-type: none;
  text-align: center;
}

.pager > li {
  display: inline-block;
}

.pager__link,
.pager__link:link,
.pager__link:visited {
  display: inline-block;
  padding: 0.3em 0.75em;

  background-color: #556f4b;
  border: 0;
}

.pager__link:hover,
.pager__link:focus,
.pager__link:active {
  background-color: #dfe7da;

  color: #718c63;
}


.pager__link--current,
.pager__link--current:link,
.pager__link--current:visited,
.pager__link--current:hover,
.pager__link--current:focus,
.pager__link--current:active {
  background-color: #fff;

  color: #718c63;
}

.pager__link--disabled,
.pager__link--disabled:link,
.pager__link--disabled:visited,
.pager__link--disabled:hover,
.pager__link--disabled:focus,
.pager__link--disabled:active {
  background-color: #67805b;

  color: #556f4b;
}
