---
---
<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Rescue Pawtraits — Fabulous photos for rescue dogs — Ottawa, Canada</title>
  <meta name="description" content="The stories in my Rescue Pawtraits celebrate the beginning of a new chapter for these dogs – the start of the rest of their new, and better, lives.">
  <link rel="source" href="https://github.com/elizabethandjane/rescuepawtraits.ca">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
  <link href="/css/rescue-pawtraits.css" rel="stylesheet">
</head>
<body>

<header class="masthead" role="banner">
  <div class="masthead__wrapper">
    <h1 class="header">
      <img class="header__logo" src="/img/rescue-pawtraits.svg" alt="Rescue Pawtraits">
      <span class="header__by">by</span>
      <a class="header__link" href="http://elizabethandjane.ca" rel="external"><img src="/img/elizabethandjane.svg" alt="elizabeth&amp;jane photography"></a>
    </h1>
  </div>
</header>

<div class="intro">
  <div class="intro__wrapper">
    <p class="intro__text">I tell stories not with words but with images. The stories in my Rescue Pawtraits celebrate the beginning of a new chapter for these dogs – the start of the rest of their new, and better, lives.</p>
    <hr class="hr-decorated">
    <p class="intro__terms">The dogs displayed on this website are rescues. Please contact the rescue directly to inquire about any dog – however the dog may no longer be available for adoption.</p>
  </div>
</div>

<main role="main">
  <ol class="dogs">
    {% for dog in paginator.posts %}
      <li class="dog dog--{{dog.orientation}}">
        <div class="dog__wrapper">
          <a class="dog__link" href="{{dog.link}}" rel="external">
            <span class="dog__img-wrapper">
              <img class="dog__img" src="{{site.cdn}}/{{dog.image}}" {{site.sizes[dog.orientation]}} alt="">
            </span>
            <strong class="dog__name">{{dog.name}}</strong>
            <p class="dog__blurb">{{dog.blurb}}</p>
          </a>
        </div>
      </li>
    {% endfor %}
  </ol>
</main>

<nav role="navigation">
  <ol class="pager">
    {% if paginator.previous_page %}
      <li><a class="pager__link" href="{{paginator.previous_page_path}}">Prev</a></li>
    {% else %}
      <li><span class="pager__link pager__link--disabled">Prev</span></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li><mark class="pager__link pager__link--current">{{page}}</mark></li>
      {% elsif page == 1 %}
        <li><a class="pager__link" href="/">{{page}}</a></li>
      {% else %}
        <li><a class="pager__link" href="/dog-photos-{{page}}">{{page}}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li><a class="pager__link" href="{{paginator.next_page_path}}">Next</a></li>
    {% else %}
      <li><span class="pager__link pager__link--disabled">Next</span></li>
    {% endif %}
  </ol>
</nav>

<footer class="footer" role="contentifno">
  <p class="copyright">© {{site.time | date:'%Y'}} <a href="http://elizabethandjane.ca" rel="external">elizabethandjane photography</a>.</p>
</footer>

<script src="/js/masonry.pkgd.min.js"></script>
<script>
  var container, msnry;

  if (document.documentElement.clientWidth >= 670) {
    container = document.querySelector('.dogs');
    msnry = new Masonry(container, {
      columnWidth: 320,
      itemSelector: '.dog',
      gutter: 8,
      transitionDuration: 0,
      isFitWidth: true
    });
  }
</script>
</body>
</html>
